.nojs .section-reveal {
	opacity: 1;
	transform: translateY(0);
}

.nojs .section-reveal {
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	-o-transition-duration: 0;
	transition-duration: 0;
}
