@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

* {
		margin: 0;
		padding: 0px;
	}


body {
	background: #ffffff;
	margin: 0;
	height: 100%;
	color: #384452;
	font-family:'Lato', sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

h1.medium{
	line-height: 1.3;
	font-size: 28px;
	color: white;
}

h4.top{
	color: white;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}
h4.footer{
	text-align: center;
}

p {
	padding: 0;
	margin-bottom: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #384452;
	margin-top: 10px;
}

p.longtime{
	font-size: 13px;
	font-family: 'applesdgothicneo-light' ;
	line-height: 1.4;
	color: white;

}


img {
	height: auto;
	max-width: 100%;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;

}




.centered {
	text-align: center
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-brand > img {
	margin-top: -12px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: #103f62;
	border-color: transparent;
}

.dropdown-menu {
	background: #384452;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.btn-theme {
  color: #384452;
  background-color: #ffeb8c;
  border: none;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #222222;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.025rem;
	padding-right: 2.25rem;
	letter-spacing:0.85px;
	padding-bottom: 1.0875rem;
	padding-left: 2.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}

.intro {
	margin-top: 20px;
	margin-left: 70px;


}

.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mb {
	margin-bottom: 60px;
}

.mt {
	margin-top: 60px;
}

.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 1px solid #979797;
	margin-bottom: 25px;
	margin-top: 20px;
}

.hline-white {

	border-bottom: 2px solid #fff;
	margin-bottom: 25px;
	margin-top: 20px;
}


/* wrap */


#blue {
	background: #00b3fe;
	margin-top: 60px;
	margin-bottom: 0px;
	padding-top: 25px
	padding: 100;
	height: 600;
}

#blue h3 {
	margin-left: 30px;
	color:white;
}



/* header */

.header {
	margin-top:  50px;
	margin-bottom:100px;

}
.header h2 {
	color: #00b3fe;
	margin-top: 50px;
}
.himage{
	margin-top: 10px;
}

/* footer */

#footerwrap .row div p a img {
	width: 42px;

	margin-left: -16px; margin-top: -14px;
}


#footerwrap {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #082236;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #00b3fe
}

/* article */ 
		
.article {
	margin-bottom: 100px;
}
.article h3{
	color: green;

}
.article p{
	text-align: 
}

.imagecenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.textcenter{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.img-lg{
	width: 100%;
}
.img-md {
	width: 70%;
	margin-bottom: 50px;
}
.text-md{
	width: 70%;
	margin-bottom: 25px;
}
.text-lg{
	width: 80%;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.margin-md{

	margin-bottom: 50px;
	margin-top: 50px;
}
.margin-sm{
	margin-top: 10px;
		margin-bottom: 30px;
}